* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-size:250px;
    --box1-clr:blue;
    --box2-clr:red;
    --box3-clr:yellow;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    gap: 50px;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 2px solid #000;
}

.box-1 {
    background-color: var(--box1-clr);
}

.box-1:hover {
    background-color: var(--box2-clr);
}

.box-2 {
    background-color: var(--box2-clr);
}

.box-2:hover {
    background-color: var(--box3-clr);
}

.box-3 {
    background-color: var(--box3-clr);
}

.box-3:hover {
    background-color: var(--box1-clr);
}